/* .header {
height: 100px;
width:100%;
background-color: #fd6363;
}
#name {
height: 500px;
width:100%;
background-color: #000000;
}

.login {
height: 700px;
width:1000px;
background-color: #ffffff;
} */